.left-login {
    display: flex;
    flex-direction: column;
}

.left-login>h1 {
    color: #77ffc0;
}

.left-login>img {
    width: 400px;
}

@media only screen and (max-width: 950px) {
    .left-login>h1 {
        display: none;
    }

    .left-login>img {
        width: 350px;
    }
}